@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

/* Basics */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
  --primary-color: #31afb4;
  --tagline-color: #14212d;
  --complementary-color: #b43531;
  --analogous-color1: #31b477;
  --analogous-color2: #316eb4;
  --triadic-color1: #3531b4;
  --triadic-color2: #b431b0;
}

html{
    font-family: "Share Tech Mono", monospace;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--primary-color);
    background: var(--tagline-color);
}

a{
    text-decoration: none;
    color: #ccb7b7;
}

ul{
    list-style: none;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}

img{
    width: 100;
    max-width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--complementary-color);
  background: linear-gradient(
    to right,
    var(--complementary-color) 0%,
    var(--triadic-color2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    var(--complementary-color) 0%,
    var(--triadic-color2) 100%
  );
  border: 0;
  height: 1px;
}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.section {
    width: 100%;
    min-height: 100vh;
    max-width: 100em;
    margin: auto;
}

.section h2{
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
  text-align: center;
}

/* Nav */

.nav-brand {
    width: 7rem;
}
  
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
  
.line1 {
    width: 15px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
      135deg,
      var(--complementary-color) 0%,
      #ccb7b7 100%
    );
}
  
.line2 {
    width: 30px;
    height: 3px;
    background: linear-gradient(
      135deg,
      var(--complementary-color) 0%,
      #ccb7b7 100%
    );
}
  
.line3 {
    width: 15px;
    height: 3px;
    margin: 5px 0;
    margin-left: 15px;
    background: linear-gradient(
      135deg,
      var(--complementary-color) 0%,
      #ccb7b7 100%
    );
}
  
.burger-menu-icon {
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    background: var(--tagline-color);
    padding: 1.2rem;
    border-radius: 0% 0% 0% 40%;
}
  
.profile-pic {
    height: 9rem;
    width: auto;
    border-radius: 50%;
    display: block;
    margin: 1.5rem 0;
}

.caption {
    display: block;
}
  
.nav-list {
    width: 24rem;
    height: 100vh;
    background-color: #1c2f41;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    z-index: 998;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}
  
.nav-item {
    margin: 2rem 0;
}
  
.nav-link {
    font-size: 2rem;
    letter-spacing: 1.5px;
}
  
.nav-link:hover {
    color: var(--complementary-color);
}

.toggle{
    background: none;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px) scaleX(2)
}

.toggle .line2 {
    opacity: 0;
}
  
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
    margin-left: 0px;
}

.external {
  margin: 0.5rem;
  font-size: 3rem;
}

/* Home */

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(0, 64, 77, 0.9) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("assets/landing-page.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.home h1 {
  font-weight: bold;
  font-size: 6rem;
  margin: 1rem;
}

.home h2 {
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  font-size: 4.5rem;
  text-align: center;
  color: var(--complementary-color);
  background: linear-gradient(
    to right,
    var(--complementary-color) 0%,
    var(--triadic-color2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home h3 {
  font-weight: 100;
  font-size: 2.5rem;
  margin: 1rem;
  margin-top: 3rem;
}

.home-pic {
  height: 30rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 5%;
}

.main-content {
    width: 100%;
    max-width: 90rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-data {
  display: flex;
}

.information {
  margin: auto;
  align-items: center;
}

.scroll-down i {
    color: #ccb7b7;
    transition: color 650ms;
    margin-top: 2rem;
    font-size: 5rem;
}
  
.scroll-down i:hover {
    color: var(--complementary-color);
}

.home-social a {
  margin: 0 0.5rem;
  font-size: 4rem;
}

/* About */

.about .container {
    display: flex;
    align-items: center;
    min-height: 80vh;
}
  
.about-img img {
    height: 15rem;
    width: auto;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 0 20px 30px 0 rgba(0, 64, 77, 0.9);
}
  
.about-text-box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 2rem;
}
  
.about-text-box p {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0;
    margin-bottom: 1.45rem;
}

/* Trajectory Timeline */

.trajectory {
  align-items: center;
}

.trajectory h1{
  margin-bottom: 4rem;
}

.trajectory .container {
  margin: 5rem;
}

.timeline {
    border-left: 3px solid var(--analogous-color2);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #1c2f41;
    margin: auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.2rem;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 60%;
}

.timeline h2,
.timeline h3 {
    font-family: "Font Awesome 5 Brands";
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
    text-align: start;
}

.timeline p {
  font-size: 1.2rem;
  font-weight: 600;
}

.timeline .job {
    border-bottom: 1px dashed #ccb7b7;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

.timeline .job:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .job:before,
.timeline .job:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .job:before {
    left: -207px;
    content: attr(data-date);
    text-align: end;
    font-weight: 300;
    font-size: 1.1rem;
    min-width: 120px;
}

.timeline .job:after {
    -webkit-box-shadow: 0 0 0 3px var(--analogous-color2);
    box-shadow: 0 0 0 3px var(--analogous-color2);
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

/* Skills */

.skills h1{
  margin-bottom: 4rem;
}

.skills .container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}

.skill-icon{
  height: 10em;
  width: 10em;
}
  
/* Projects */

.projects h1{
  margin-bottom: 4rem;
}
  
.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem 5rem 2rem;
}
  
.project-img {
    flex: 1;
}
  
.project-description {
    flex: 1;
}
  
.project-description h2 {
    font-size: 2.2rem;
    margin: 2rem 0;
    background: linear-gradient(
      to right,
      var(--complementary-color) 0%,
      var(--triadic-color2) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.project-description p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

/* Footer */

footer {
    width: 100%;
    max-width: 70rem;
    margin: auto;
    padding-bottom: 2.5rem;
    color: #8a8a8a;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
  
footer a {
    margin: 0 2rem;
}

footer a:hover {
  color: var(--complementary-color);
}
  
.footer-coded-by p{
    margin: 1rem 0;
    font-size: 1.5rem;
}
  
.footer-social a {
    margin: 0 3rem;
    font-size: 3rem;
}

/* Responsive Design */

@media (max-width: 750px) {
  .nav-link {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }

  .home-data {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .home-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
  }

  .home h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 1rem;
  }
  
  .home h2 {
    font-family: "Font Awesome 5 Brands";
    font-weight: 500;
    font-size: 2rem;
  }
  
  .home h3 {
    font-weight: 100;
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 3rem;
  }

  .home-social a {
    margin: 0 0.5rem;
    font-size: 2rem;
  }

  .about .container {
    flex-direction: column;
  }

  .about-text-box p {
    font-size: 1.3rem;
  }

  .trajectory .container {
    margin: 0;
  }

  .timeline {
    max-width: 80%;
    padding: 25px;
  }

  .timeline .job {
    padding-top: 30px;
  }

  .timeline .job:before {
    left: 0px;
    text-align: left;
  }

  .timeline .job:after {
    left: -31.8px;
  }

  .skills h2{
    font-size: 1.5rem;
  }

  .skills .container{
    grid-template-columns: repeat(4, 1fr);
  }

  .skill-icon {
    grid-column: span 2;
  }

  .skill-icon:nth-last-child(1):nth-child(odd) {
    grid-column: 2 / span 2;
  }

  .projects h2{
    font-size: 1.5rem;
  }

  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }

  footer {
    font-size: 1.3rem;
  }

  footer a {
    margin: 0.2rem;
  }
    
  .footer-coded-by p{
      margin: 1rem 0;
      font-size: 1.2rem;
  }
    
  .footer-social a {
      margin: 0 1rem;
      font-size: 2rem;
  }
}

@media (max-width: 665px) {

  .home-data {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .home-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
  }

  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about-text-box p {
    margin: 0 0 2.45rem;
  }
}